$pink-01: #ff7ad6;
$pink-02: #ffaee6;
$pink-03: #ffdcf4;
$green-01: #98f6f5;
$green-02: #c6f2fe;
$green-03: #e7faff;

$gray-01: #000;
$gray-02: #495057;
$gray-03: #ced4da;
$gray-04: #f8f9fa;

$gradient: linear-gradient(
  90deg,
  #D8F6FE22.72%,
  rgba(255, 122, 214, 0.69) 99.67%
);
